<div class="col-md-4 log-icons text-right">
	@if (User.IsInRole("Writer"))
	{
		<li class="nav-item">
			<a class="nav-link" href="/Blog/BlogListByWriter">
			<span class="sr-only">(current)</span>
		</a>
	</li>
	}
	
</div>