@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<br></br>
<form asp-action="ForgetPassword" method="post">
	<div class="container">
		@if (TempData["Message1"] != null)
		{
			<div class="alert alert-info">@TempData["Message1"]</div>
		}
		<h3 class="tittle">Şifre Yenileme Sayfası</h3>
		<div class="row inner-sec">
			<div style="margin-left:auto;margin-right:auto;">
				<div class="login p-5 bg-light mx-auto mw-100">
					<div class="form-group">
						<input type="text" class="form-control" id="input1" asp-for="@Model.Mail" placeholder="E-Mail">
					</div>
					<input class="form-control" type="submit" value="Gönder">
				</div>
			</div>
		</div>
	</div>
</form>
<br></br>
